@import 'colors'
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap')

$libre-baskerville: 'Libre Baskerville', serif



.nav
  display: flex
  justify-content: space-around
  padding: 0px 10%
  font-style: italic
  color: $baby-blue
  margin-top: 15px
  margin-bottom: 30px
  // background-color: red

.nav_links
  list-style: none
  white-space: nowrap

.nav_links li
  display: inline-block
  padding: 0px 20px
  margin: 0px 1rem

.nav_links li a
  transition: all 0.3s ease 0s

.nav_links li a:hover
  color: $darker-blue

.nav_links li a:focus 
  color: $darker-blue 

.container
  font-family: $libre-baskerville
  font-weight: normal
  height: 100%
  background-color: $pale-blue
  // background-color: red
  min-height: 100vh
  // overflow: scroll
  
.logo
  display: block
  margin-left: auto
  margin-right: auto
  cursor: pointer
  max-width: 100px
  height: auto

.footer
  display: flex
  justify-content: space-around
  color: white
  text-shadow: 2px 2px 10px $baby-blue
  margin-top: 100px

.main
  display: flex
  flex-direction: column
  align-items: center
  color: $baby-blue
  width: 100%
  min-height: 45vh
  
.row
  display: flex
  flex-grow: 1

.watercolor
  max-width: 600px

.schedule
  text-align: center

.suggested_attire
  text-align: center
  margin-right: 20px

.header
  color: $darker-blue
  font-style: italic
  font-size: 1.5rem

.address_box
  position: absolute
  margin-left: auto
  margin-right: auto
  left: 20
  right: 20
  text-align: center
  transform: translate(-125px, -55px)
  max-width: 250px
  z-index: 100

.address
  margin-top: 40px
  font-size: 85%

.banner
  width: 100vw
  min-height: 100%

.headline_text_container
  display: flex
  flex-direction: row
  color: white
  min-width: 100vw
  position: absolute
  transform: translate(0, -105%)
  justify-content: space-between
  padding-left: 100px
  padding-right: 100px
  margin-top: 30px
  padding-bottom: 50px
  word-wrap: break-word
  padding-bottom: 20px

.headline
  color: white
  text-align: center
  // margin-top: 50px

.countdown_container
  display: flex
  flex-direction: column
  align-items: center
  // margin-top: 80px

.countdown_container h1 
  font-size: 2vw

.countdown
  display: grid
  grid-template-columns: 33% 33% 33%
  grid-template-rows: 33% 33% 33%
  row-gap: 10px
  column-gap: 25px
  margin-left: -35px

.countdown_item
  display: flex
  flex-direction: column
  height: max-content
  background-color: #b3b3b363
  padding: 15px

.countdown_number
  text-align: center
  font-size: 2vw
  // font-size: 25px
  

.countdown_text
  text-align: center
  font-size: 1vw
  // font-size: 15px
  font-style: italic

.headline h1 
  padding-top: 10px
  font-size: 3vw

.headline h3
  //font-size: 1vw 
  margin-top: -20px

.headline h5 
  margin-top: -15px

.bees
  max-width: 600px
  margin-left: 50px

.story
  text-align: center
  font-style: italic
  max-width: 250px

.story h3
  font-style: normal

.story_pictures
  min-width: 500px
  transform: translate(-50px, 0)

.on_blanket
  max-width: 350px
  position: absolute
  z-index: 2

.ring_pic
  max-width: 450px
  position: absolute
  z-index: 1
  transform: translate(0, 200px)

.kissing
  max-width: 300px
  position: absolute
  z-index: 3
  transform: translate(-270px, 50px)

.grid_container
  padding-left: 50px
  padding-right: 50px

.hotel_button
  border: 2px solid $baby-blue
  background-color: $pale-blue
  color: $baby-blue
  font-family: $libre-baskerville
  font-style: normal
  font-size: .8rem
  padding-left: 5px
  padding-right: 5px
  padding-top: 2px
  padding-bottom: 2px

.desktop_story

#photos 
  /* Prevent vertical gaps */
  line-height: 2.5
   
  -webkit-column-count: 5
  -webkit-column-gap:   0px
  -moz-column-count:    5
  -moz-column-gap:      0px
  column-count:         5
  column-gap:           0px

  // margin-left: 50px
  // margin-right: 50px

  // padding-left: 60px
  // padding-right: 80px

.grid_item
  width: 100% !important
  height: auto !important
  // display: block

// @media only screen and (min-device-width: 415px)
@media only screen and (max-width: 1200px) and (min-device-width: 415px)
  #photos 
    -moz-column-count:    4
    -webkit-column-count: 4
    column-count:         4
  

@media only screen and (max-width: 1000px) and (min-device-width: 415px)
  #photos 
    -moz-column-count:    3
    -webkit-column-count: 3
    column-count:         3
  

@media only screen and (max-width: 800px) and (min-device-width: 415px)
  #photos 
    -moz-column-count:    2
    -webkit-column-count: 2
    column-count:         2
    

// @media only screen and (max-device-width: 415px)
#mobilePhotos 
  -moz-column-count:    1
  -webkit-column-count: 1
  column-count:         1
  line-height: 2.5

  

@media only screen and (max-device-width: 415px)

  .mobile_banner
    margin-top: 30px
    margin-left: -5px
    max-width: 415px
    width: auto
    height: auto
    display: block
    margin-bottom: 0
    padding-bottom: 0

  .mobile_headline_container
    // margin-top: 100px

  .mobile_headline
    color: $baby-blue
    margin: auto
    text-align: center
    padding-top: 30px

  .mobile_headline h1 
    padding-top: 10px
    font-size: 2.8rem

  .mobile_headline h3
    font-size: 1.2rem
    margin-top: -10px

  .watercolor
    max-width: 415px
    width: auto
    height: auto
    display: block
  
  .row
    display: block
  
  .countdown_container
    display: flex
    flex-direction: column
    align-items: center
    margin: auto
    margin-top: -30px
    color: $baby-blue

  .countdown_container h1 
    font-size: 2rem
    margin-top: 0
    padding-top: 0

  .countdown
    display: grid
    grid-template-columns: 33% 33% 33%
    grid-template-rows: 33% 33% 33%
    row-gap: 10px
    column-gap: 25px
    margin-left: -44px
    color: white

  .countdown_item
    display: flex
    flex-direction: column
    height: max-content
    background-color: #9bbfdf6b
    padding: 15px

  .countdown_number
    text-align: center
    font-size: 1.5rem

  .countdown_text
    text-align: center
    font-size: 1.1rem
    font-style: italic
    
  .suggested_attire
    margin-top: 60px
    margin-left: 20px

  .subsection_header
    font-style: normal

  .header
    font-size: 1.8rem
    font-style: italic

  .subsection
    text-align: center
    font-style: italic
    max-width: 250px
    margin-bottom: 3rem

  .hotel_links 
    transition: all 0.3s ease 0s

  .hotel_links:hover
    color: $darker-blue

  .hotel_links:focus 
    color: $darker-blue  

  .hotel_section
    margin-bottom: 30px

  .gallery
    margin-top: 5rem

  .schedule
    margin-top: 3rem

  .suggested_attire
    margin-top: 4.5rem
    margin-bottom: 2rem

  // #photos
  //   min-width: 415px


@media only screen and (min-width: 416px)
  .hotels_container
    display: flex
    align-items: center
    flex-direction: column
    color: $baby-blue
    text-align: center
    font-style: italic
    max-width: 250px

  .subsection_header
    font-style: normal

  .hotel_section
    margin-bottom: 10px

  .desktop_hotels_container
    display: flex
    align-items: center
    flex-direction: column